<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <display-name>plainvm client</display-name>
  <description>
        Client application for plainvm
    </description>
  <servlet>
    <description></description>
    <display-name>SCSession</display-name>
    <servlet-name>SCSession</servlet-name>
    <servlet-class>com.snowcrash.session.SCSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCSession</servlet-name>
    <url-pattern>/SCSession</url-pattern>
  </servlet-mapping>
</web-app>